In [139]:
import pandas as pd

In [191]:
df = pd.read_csv('NFL_League_Master.csv')
df.head()

,Unnamed: 0,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,0,Los Angeles Chargers,1,15,0,0.063,269,440,-171,1 - 7 - 0,0 - 8 - 0,1 - 7 - 0,0.125,1 - 11 - 0,0.083,0 - 4 - 0,4L,1 - 4 - 0,2000
1,1,Arizona Cardinals,3,13,0,0.188,210,443,-233,3 - 5 - 0,0 - 8 - 0,2 - 6 - 0,0.250,2 - 10 - 0,0.167,1 - 3 - 0,7L,0 - 5 - 0,2000
2,2,Cleveland Browns,3,13,0,0.188,161,419,-258,2 - 6 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,0 - 3 - 0,5L,0 - 5 - 0,2000
3,3,Atlanta Falcons,4,12,0,0.250,252,413,-161,3 - 5 - 0,1 - 7 - 0,3 - 5 - 0,0.375,3 - 9 - 0,0.250,1 - 3 - 0,1W,1 - 4 - 0,2000
4,4,Cincinnati Bengals,4,12,0,0.250,185,359,-174,3 - 5 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,1 - 2 - 0,1L,2 - 3 - 0,2000

In [192]:
#Drop index column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [193]:
df.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Los Angeles Chargers,1,15,0,0.063,269,440,-171,1 - 7 - 0,0 - 8 - 0,1 - 7 - 0,0.125,1 - 11 - 0,0.083,0 - 4 - 0,4L,1 - 4 - 0,2000
1,Arizona Cardinals,3,13,0,0.188,210,443,-233,3 - 5 - 0,0 - 8 - 0,2 - 6 - 0,0.250,2 - 10 - 0,0.167,1 - 3 - 0,7L,0 - 5 - 0,2000
2,Cleveland Browns,3,13,0,0.188,161,419,-258,2 - 6 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,0 - 3 - 0,5L,0 - 5 - 0,2000
3,Atlanta Falcons,4,12,0,0.250,252,413,-161,3 - 5 - 0,1 - 7 - 0,3 - 5 - 0,0.375,3 - 9 - 0,0.250,1 - 3 - 0,1W,1 - 4 - 0,2000
4,Cincinnati Bengals,4,12,0,0.250,185,359,-174,3 - 5 - 0,1 - 7 - 0,2 - 8 - 0,0.200,3 - 10 - 0,0.231,1 - 2 - 0,1L,2 - 3 - 0,2000

# Challenge Solutions

### 1. Fixing Column Names

In [194]:
renamed_columns = {'PCT':'Total Win Pct',
                   'Pct':'Division Pct',
                   'Pct.1':'Conference Pct'}

In [195]:
df.rename(renamed_columns,axis=1,inplace=True)

### 2. Feature Engineering

In [196]:
#Create Divisions Columns

df['Division'] = ['AFC East' if team in ['Buffalo Bills','Miami Dolphins','New England Patriots','New York Jets']
                 else 'AFC North' if team in ['Baltimore Ravens','Cincinnati Benglas','Cleveland Browns','Pittsburgh Steelers']
                 else 'AFC South' if team in ['Houstan Texans','Indianapolis Colts','Jacksonville Jaguars','Tennessee Titans']
                 else 'AFC West' if team in ['Denver Broncos','Kansas City Chiefs','Las Vegas Raiders','Los Angeles Chargers']
                 else 'NFC East' if team in ['Dallas Cowboys','New York Giants','Philadelphia Eagles','Washington Commanders']
                 else 'NFC North' if team in ['Chicago Bears','Detroit Lions','Green Bay Packers','Minnesota Vikings']
                 else 'NFC South' if team in ['Atlanta Falcons','Carolina Panthers','New Orleans Saints','Tampa Bay Buccaneers']
                 else 'NFC West' for team in df['NFL Team']]

In [197]:
#Create new columns from the record columns
df['Home Wins'] = [int(val[0]) for val in df['Home']]
df['Home Losses'] = [int(val[4]) for val in df['Home']]
df['Home Ties'] = [int(val[-1]) for val in df['Home']]

df['Road Wins'] = [int(val[0]) for val in df['Road']]
df['Road Losses'] = [int(val[4]) for val in df['Road']]
df['Road Ties'] = [int(val[-1]) for val in df['Road']]

df['Division Wins'] = [int(val[0]) for val in df['Div']]
df['Division Losses'] = [int(val[4]) for val in df['Div']]
df['Division Ties'] = [int(val[-1]) for val in df['Div']]

df['Last 5 Wins'] = [int(val[0]) for val in df['Last 5']]
df['Last 5 Losses'] = [int(val[4]) for val in df['Last 5']]
df['Last 5 Ties'] = [int(val[-1]) for val in df['Last 5']]

df['Non-Conference Wins'] = [int(val[0]) for val in df['Non-Conf']]
df['Non-Conference Losses'] = [int(val[4]) for val in df['Non-Conf']]
df['Non-Conference Ties'] = [int(val[-1]) for val in df['Non-Conf']]

#Conference requires different code since it includes double digit #'s'
df['Conference Wins'] = [int(val.split('-')[0]) for val in df['Conf']]
df['Conference Losses'] = [int(val.split('-')[1]) for val in df['Conf']]
df['Conference Ties'] = [int(val.split('-')[2]) for val in df['Conf']]

# 'Undefeated' features

df['Home Undefeated'] = [1 if losses == 0 else 0 for losses in df['Home Losses']]
df['Road Undefeated'] = [1 if losses == 0 else 0 for losses in df['Road Losses']]
df['Division Undefeated'] = [1 if losses == 0 else 0 for losses in df['Division Losses']]
df['Last 5 Undefeated'] = [1 if losses == 0 else 0 for losses in df['Last 5 Losses']]
df['Non-Conference Undefeated'] = [1 if losses == 0 else 0 for losses in df['Non-Conference Losses']]
df['Conference Undefeated'] = [1 if losses == 0 else 0 for losses in df['Conference Losses']]

#Streaks
df['Win Streak'] = [int(item.split('W')[0]) if 'W' in item else 0 for item in df['Strk']]
df['Lose Streak'] = [int(item.split('L')[0]) if 'L' in item else 0 for item in df['Strk']]

In [198]:
#Drop the columns we don't need anymore
df.drop(['Home','Road','Div','Conf','Non-Conf','Last 5','Strk'],axis=1,inplace=True)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NFL Team                   702 non-null    object
 1   W                          702 non-null    int64
 2   L                          702 non-null    int64
 3   T                          702 non-null    int64
 4   Total Win Pct              702 non-null    float64
 5   PF                         702 non-null    int64
 6   PA                         702 non-null    int64
 7   Net Pts                    702 non-null    int64
 8   Division Pct               702 non-null    float64
 9   Conference Pct             702 non-null    float64
 10  Year                       702 non-null    int64
 11  Division                   702 non-null    object
 12  Home Wins                  702 non-null    int64
 13  Home Losses                702 non-null    int64
 14  Home Ties                  702 non-null    int64
 15  Road Wins                  702 non-null    int64
 16  Road Losses                702 non-null    int64
 17  Road Ties                  702 non-null    int64
 18  Division Wins              702 non-null    int64
 19  Division Losses            702 non-null    int64
 20  Division Ties              702 non-null    int64
 21  Last 5 Wins                702 non-null    int64
 22  Last 5 Losses              702 non-null    int64
 23  Last 5 Ties                702 non-null    int64
 24  Non-Conference Wins        702 non-null    int64
 25  Non-Conference Losses      702 non-null    int64
 26  Non-Conference Ties        702 non-null    int64
 27  Conference Wins            702 non-null    int64
 28  Conference Losses          702 non-null    int64
 29  Conference Ties            702 non-null    int64
 30  Home Undefeated            702 non-null    int64
 31  Road Undefeated            702 non-null    int64
 32  Division Undefeated        702 non-null    int64
 33  Last 5 Undefeated          702 non-null    int64
 34  Non-Conference Undefeated  702 non-null    int64
 35  Conference Undefeated      702 non-null    int64
 36  Win Streak                 702 non-null    int64
 37  Lose Streak                702 non-null    int64
dtypes: float64(3), int64(33), object(2)
memory usage: 208.5+ KB

### 3. Questions

* Over the last 21 years, who has been the best/worst performing teams?

In [200]:
#Top 5 Teams by Total Wins
df.groupby('NFL Team')['W'].sum().sort_values(ascending=False).head(5)

NFL Team
New England Patriots    254
Pittsburgh Steelers     226
Green Bay Packers       223
Indianapolis Colts      217
Baltimore Ravens        209
Name: W, dtype: int64

In [201]:
#Top 5 Teams by Win Streak
df.groupby('NFL Team')['Win Streak'].sum().sort_values(ascending=False).head(5)

NFL Team
New England Patriots    77
Pittsburgh Steelers     54
Los Angeles Chargers    48
Green Bay Packers       46
Baltimore Ravens        46
Name: Win Streak, dtype: int64

---

In [202]:
#Bottom 5 Teams by Total Wins
df.groupby('NFL Team')['W'].sum().sort_values().head(5)

NFL Team
Cleveland Browns        118
Detroit Lions           122
Jacksonville Jaguars    131
Houston Texans          139
Las Vegas Raiders       143
Name: W, dtype: int64

In [203]:
#Teams with the most losing streaks
df.groupby('NFL Team')['Lose Streak'].sum().sort_values(ascending=False).head(5)

NFL Team
Cleveland Browns        65
Detroit Lions           64
Jacksonville Jaguars    51
Las Vegas Raiders       46
Los Angeles Rams        46
Name: Lose Streak, dtype: int64

* Which teams perform better at home? On the road?

In [204]:
#Best performing teams at home
df.groupby('NFL Team')['Home Wins'].sum().sort_values(ascending=False).head(5)

NFL Team
New England Patriots    139
Green Bay Packers       129
Baltimore Ravens        128
Pittsburgh Steelers     126
Indianapolis Colts      119
Name: Home Wins, dtype: int64

In [205]:
#Best performing teams on the road
df.groupby('NFL Team')['Road Wins'].sum().sort_values(ascending=False).head(5)

NFL Team
New England Patriots    115
New Orleans Saints      102
Philadelphia Eagles     100
Pittsburgh Steelers     100
Indianapolis Colts       98
Name: Road Wins, dtype: int64

* Which teams tie the most?

In [208]:
df.groupby('NFL Team')['T'].sum().sort_values(ascending=False).head(5)

NFL Team
Cincinnati Bengals     4
Pittsburgh Steelers    3
Arizona Cardinals      2
Green Bay Packers      2
Philadelphia Eagles    2
Name: T, dtype: int64

* Favorite team's performance? (49ers)

In [216]:
#Top 5 years for the 49ers
df[df['NFL Team'] == 'San Francisco 49ers'][['W','Year']].sort_values(by=['W'],ascending=False).head(5)

      W  Year
380  13  2011
636  13  2019
58   12  2001
443  12  2013
408  11  2012

In [224]:
#These lines of code were used to check if the team went undefeated in each category

# df[df['NFL Team'] == 'San Francisco 49ers']['Home Undefeated'].unique()
# df[df['NFL Team'] == 'San Francisco 49ers']['Road Undefeated'].unique()
# df[df['NFL Team'] == 'San Francisco 49ers']['Division Undefeated'].unique()
# df[df['NFL Team'] == 'San Francisco 49ers']['Last 5 Undefeated'].unique()
# df[df['NFL Team'] == 'San Francisco 49ers']['Conference Undefeated'].unique()
# df[df['NFL Team'] == 'San Francisco 49ers']['Non-Conference Undefeated'].unique()

array([0, 1], dtype=int64)

In [228]:
#Years undefeated in Last 5 games
df[df['NFL Team'] == 'San Francisco 49ers'][['Last 5 Undefeated','Year']].sort_values(by=['Last 5 Undefeated'],ascending=False).head(2)

     Last 5 Undefeated  Year
552                  1  2017
443                  1  2013

In [230]:
#Years undefeated in Non-Conference games
df[df['NFL Team'] == 'San Francisco 49ers'][['Non-Conference Undefeated','Year']].sort_values(by=['Non-Conference Undefeated'],ascending=False).head(2)

     Non-Conference Undefeated  Year
58                           1  2001
408                          1  2012